// Place all the styles related to the legs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.navbar-brand {
  padding: 0;
  font-size: 46px;
  line-height: 46px;
  font-weight: 800;
  font-family: 'Permanent Marker', 'Sigmar One';
}

.stopover-options {
  height: 300px;
}
